/* fonts */
@font-face {
    font-family: 'Bahij-bold';
    src: url(../fonts/alfont_com_AlFont_com_Bahij_TheSansArabic-Bold-1.ttf);
}

@font-face {
    font-family: 'Bahij-Plain';
    src: url(../fonts/alfont_com_ArbFONTS-Bahij_TheSansArabic-Plain.ttf);
}

/* global style css */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Bahij-Plain', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --white: #ffffff;
    --secondary-link: #A6A6A6;
    --secondary-logo: #303030;
    --secondary: #0F172A;
    --secondary2: #475569;
    --secondary3: #F9FAFB;
    --green-main: #0D5A50;
    --green-op: #0DB38B;
    --green-op2: #54bd95;
    --green-op3: #85DAB9;

}

a {
    color: inherit;
    display: inline-block;
    text-decoration: none;
}

a.active {
    color: var(--green-main) !important;
}

ul {
    list-style: none;
}

/* end global  */
/* start main  */
main {
    padding-bottom: 30px;
}

main.home {
    background: linear-gradient(to bottom, #c1ece5 0%, #fff 100%);
}

main header {
    min-height: 9vh;
    border-bottom: 1px solid #F2F4F7;
    display: flex;
    align-items: center;
    justify-content: start;
}

main header .container .logo span {
    color: var(--secondary-logo);
}

main header .container .links a {
    color: var(--secondary-link);
    margin-right: 50px;
    font-size: 16px;
    position: relative;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

main header .container .links a:hover {
    color: var(--green-main);
}

main header .container .links a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--green-main);
    position: absolute;
    bottom: -2px;
    right: 0;
    transition: width 0.3s ease;
    -webkit-transition: width 0.3s ease;
    -moz-transition: width 0.3s ease;
    -ms-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
}

html[dir="ltr"] main header .container .links a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--green-main);
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: width 0.3s ease;
    -webkit-transition: width 0.3s ease;
    -moz-transition: width 0.3s ease;
    -ms-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
}

main header .container .links a:hover::after {
    width: 40%;
}

html[dir="ltr"] main header .container .links a:hover::after {
    width: 40%;
}

main header .container .links a.active::after {
    width: 40%;
}

html[dir="ltr"] main header .container .links a.active::after {
    width: 40%;
}

main header .container .row .profile a {
    color: var(--white);
    background-color: var(--green-main);
    font-size: 14px;
    padding: 7px 13px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

main header .container .row .profile a:hover {
    color: var(--green-main);
    background-color: var(--white);
    border: 1px solid var(--green-main);
    font-weight: bold;
}

/* start main section  */
main section .container .textTitle h1 {
    font-size: 72px;
    color: var(--secondary);
    font-weight: 500;
}

main section .container .textTitle h1 span {
    color: var(--green-main);
}

main section .container .textTitle p {
    color: var(--secondary2);
    text-align: justify;
    font-size: 18px;
    width: 62%;
    line-height: 29px;
}

main section .container .textTitle .btns a {
    color: var(--white);
    background-color: var(--green-main);
    font-size: 14px;
    padding: 7px 20px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

main section .container .textTitle .btns a.firstBtn {
    background-color: var(--green-op);
}

/* media screen to main section  */
@media (min-width:530px) and (max-width:992px) {
    main section .container .textTitle h1 {
        font-size: 65px;
    }

    main section .container .textTitle p {
        width: 90%;
    }
}

@media (min-width:370px) and (max-width:530px) {
    main section .container .textTitle h1 {
        font-size: 45px;
    }

    main section .container .textTitle p {
        width: 90%;
    }
}

@media screen and (max-width:370px) {
    main section .container .textTitle h1 {
        font-size: 30px;
    }

    main section .container .textTitle p {
        width: 100%;
        font-size: 12px;
    }

    main section .container .textTitle .btns a {
        font-size: 10px;
        padding: 4px 12px;
    }

    main section .container .textTitle .btns a.firstBtn {
        background-color: var(--green-op);
    }
}

/* start section download */
main section.app {
    padding: 30px 0;
}

main section.app .container .textTitle h2 {
    color: var(--secondary);
    font-size: 44px;
    font-weight: 500;
    padding-right: 35px;
    line-height: 72px;
}

main section.app .container .textTitle h2 span {
    color: var(--green-main);
}

main section.app .container .textTitle .btns {
    padding-right: 15px;
}

main section.app .container .textTitle .btns a {
    background: transparent !important;

}

/* media screen to main section downloadApp */
@media (min-width:370px) and (max-width:992px) {
    main section.app .container .textTitle h2 {
        font-size: 30px;
        padding-right: 0px;
        line-height: 55px;

    }

    main section.app .container .textTitle .btns {
        padding-right: 0px;
    }
}

@media screen and (max-width:370px) {
    main section.app .container .textTitle h2 {
        font-size: 20px;
        padding-right: 0px;
        line-height: 55px;
    }

    main section.app .container .textTitle .btns {
        padding-right: 0px;
    }
}

/* end section download */
/* start section orderNow */
section.orderNow {
    padding-bottom: 20px;
}

section.orderNow .container .card {
    background-color: var(--green-op2);
    box-shadow: 0 0 5px var(--secondary-logo);
    border: 0;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    overflow: hidden;
    position: relative;

}

section.orderNow .container .card .card-body {
    z-index: 99;
}

section.orderNow .container .card .card-body .cardbg {
    background-color: hsla(159, 61%, 75%, 0.281);
    width: 140%;
    height: 80%;
    border-radius: 50%;
    position: absolute;
    top: 12%;
    right: -20%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: -1;
}

section.orderNow .container .card .card-title {
    color: var(--white);
    font-size: 30px;
}

section.orderNow .container .card .card-subtitle {
    color: var(--white);
    width: fit-content;
    margin: auto;
    padding: 10px 80px;
    font-size: 14px;
    background-color: var(--green-op3);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

section.orderNow .container .card .cardContent {
    background-color: var(--white);
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

section.orderNow .container .card .cardContent ul {
    line-height: 50px;
}

section.orderNow .container .card .cardContent li {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

section.orderNow .container .card .cardContent li p {
    font-size: 18px;
    margin-bottom: 0;
}

section.orderNow .container .card .cardContent li i {
    font-size: 20px;
    color: var(--green-op2);
}

section.orderNow .container .card .card-link {
    text-align: center;
    margin: 25px 0;
}

section.orderNow .container .card .card-link a {
    color: var(--white);
    background-color: var(--green-op2);
    font-size: 18px;
    padding: 7px 80px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

/* card2 */
section.orderNow .container .card2 {
    background-color: var(--white);
}

section.orderNow .container .card2 .cardContent {
    background-color: var(--secondary3);
}

/* media section  OrderNow */
@media screen and (max-width:400px) {
    section.orderNow .container .card .cardContent {
        padding: 5px;
    }

    section.orderNow .container .card .cardContent li p {
        font-size: 14px;
        margin-bottom: 0;
    }

    section.orderNow .container .card .cardContent li i {
        font-size: 18px;
    }

    section.orderNow .container .card .card-link a {
        font-size: 14px;
        padding: 5px 60px;
    }
}

/* end section orderNow */
/* start footer */
footer .container ul {
    line-height: 40px;
}

footer .container ul li {
    font-size: 16px;
    color: var(--secondary2);
}

footer .container ul li a:hover {
    font-size: 16px;
    color: var(--green-op);
}

footer .container .links a i {
    color: var(--secondary2);
    margin-right: 20px;
    font-size: 22px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    padding-top: 10px;
}

footer .container .links a i:hover {
    color: var(--green-op);
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
}

footer .container .links p {
    text-align: end;
    color: var(--secondary2);
    margin-top: 30px;
    padding-left: 10px;
}

/* end footer */
/* end main  */

/* start terms page */
main.terms {
    background: var(--secondary3) !important;
}

main.terms section .container h1 {
    font-size: 44px;
    color: var(--green-op);
    font-weight: 700;
}

main.terms section .container p {
    font-size: 24px;
    color: var(--secondary-logo);
    text-align: justify;
    line-height: 45px;
}

@media screen and (max-width:460px) {
    main.terms section .container h1 {
        font-size: 34px;
    }

    main.terms section .container p {
        font-size: 18px;
        line-height: 35px;
    }
}

/* end terms page */
/* start questions page */
main.questions {
    background: var(--secondary3) !important;
}

main.questions section .container h1 {
    font-size: 44px;
    color: var(--green-op);
    font-weight: 700;
}

main.questions section .container .box_qustion {
    background-color: var(--white);
    box-shadow: 0px 8px 40px #00000014;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

main.questions section .container .box_qustion .collapse {
    color: #363636;
    font-size: 16px;
    text-align: justify;
}

main.questions section .container .ask h6 {
    font-size: 18px;
    color: #000;
}

main.questions section .container .ask div a {
    font-size: 14px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #B3B3B3;
    border: 2px solid #B3B3B3;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

main.questions section .container .ask div a.rotate {
    transform: rotate(180deg);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

@media screen and (max-width:460px) {
    main.questions section .container h1 {
        font-size: 34px;
    }
}

/* end questions page */


/* start login page */
section.login .container .card {
    box-shadow: 0px 5px 50px -6px #0000001A;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

section.login .container .card .card-title {
    color: #64616A;
    font-size: 24px;
}

section.login .container .card .card-text {
    font-size: 14px;
}

section.login .container .card .card-text a {
    font-weight: bold;
}

section.login .container .card .card-text a {
    color: var(--green-main);
    font-size: 14px;
}

section.login .container .card .input-group span.input-group-text {
    background-color: var(--green-op);
    color: var(--white);
    height: 43px;
    width: 43px;
    text-align: center;
}

section.login .container .card .input-group input {
    height: 43px;
    border: 0.5px solid #C5C5C5 !important;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

section.login .container .card .input-group input::placeholder {
    font-size: 12px;
    color: #B7B7B7;
}

section.login .container .card .input-group input:focus {
    font-size: 12px;
    box-shadow: 0 0 3px var(--secondary-logo);
}

section.login .container .card .fogetPassword {
    font-size: 12px;
}

section.login .container .card .card-body button {
    width: 100%;
    color: var(--white);
    background-color: #015950;
    padding: 8px 0;
    font-size: 14px;
    margin-top: 40px;
    margin-bottom: 40px;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

section.login .container .google a {
    color: #0000008A;
}


.line {
    display: flex;
    align-items: center;
    color: #758499;
}

.line::before,
.line::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #758499;
    margin: 0 2px;
}

.login-text {
    font-size: 14px;
}

/* end login page */
/* start contact information page */
.card.contactData {
    background: linear-gradient(#EFEFEF, #fff);
}

section.login .container .card.contactData .input-group input {
    border: 0.5px solid #EFEFEF !important;
}

section.login .container .card.contactData .input-group input:focus {
    box-shadow: 0 0 2px var(--secondary-logo);
}

section.login .container .card.contactData .card-body button {
    margin-top: 10px;
}

section.login .container .card.contactData .google {
    box-shadow: 0px 2px 3px 0px #9696960A;
    padding: 10px 15px;
    width: 70%;
    margin: auto;
}

/* media page login and contactInformation */
@media screen and (max-width:568px) {
    section.login .container .card {
        box-shadow: none;
        border: none;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -ms-border-radius: 0px;
        -o-border-radius: 0px;
    }

    .card.contactData {
        background: #fff !important;
    }

    section.login .container .card.contactData .card-body button {
        margin-top: 10px;
        padding: 10px 20px;
    }

    section.login .container .card.contactData .google {
        box-shadow: 0px 2px 3px 0px #9696960A;
        padding: 10px 15px;
        width: 100%;
        margin: auto;
    }
}

/* end contact information page */
/* start typeContract page */
main.typeContract {
    min-height: 100vh;
    background-image: url(../image/data/bgTypeContract.png);
    background-repeat: no-repeat;
    background-size: cover;
}

main.typeContract header {
    background-color: #fff;
}

section.typeContract .container .textHead h3 {
    font-size: 24px;
    font-weight: 600;
    color: #303030;
}

section.typeContract .container .textHead p {
    font-size: 14px;
    color: #7B7B7B;
}

section.typeContract .container .textHead p span {
    color: #181818;
}

section.typeContract .custom-radio {
    cursor: pointer;
}

section.typeContract .custom-radio input[type="radio"] {
    display: none;
}

section.typeContract .custom-radio label {
    background-color: #fff;
    border: 2px solid #DCDCDC;
    border-radius: 4px;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

section.typeContract .custom-radio input[type="radio"]:checked+label {
    border-color: var(--green-main);
    transition: 0.5s;

}

section.typeContract button {
    color: var(--white);
    background-color: var(--green-main);
    border: none;
    width: 100%;
    font-size: 14px;
    padding: 7px 40px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}

section.typeContract button:hover {
    background-color: transparent;
    border: 1px solid var(--green-main);
    color: var(--green-main);
    font-weight: bold;
}

/* end typeContract page */

/* start datapapper page */
section.datapapper .container h3 {
    font-size: 27px !important;
}

section.datapapper .container .box {
    background: #EDEDED;
    border: none;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transform: skew(0);
    -webkit-transform: skew(0);
    -moz-transform: skew(0);
    -ms-transform: skew(0);
    -o-transform: skew(0);
}

section.datapapper .container .box p {
    display: inline-block;
    transform: skew(0);
    -webkit-transform: skew(0);
    -moz-transform: skew(0);
    -ms-transform: skew(0);
    -o-transform: skew(0);
}

section.datapapper .container .box::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: 0;
    background: var(--green-op2);
    opacity: 0;
    z-index: -1;
    transition: all 0.5s;
}

section.datapapper .container .box:hover {
    color: #fff;
}

section.datapapper .container .box:hover::before {
    left: 0;
    right: 0;
    opacity: 1;
}

@media screen and (max-width:780px) {
    section.datapapper .container h3 {
        font-size: 22px !important;
    }
}

/* end datapapper page */
/* start createContract page */
section.createContract h3 {
    font-size: 28px;
}

section.createContract .card {
    box-shadow: 2px 2px 10px 0px #0000004D;
    border-radius: 50px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 0 0;
    -moz-border-radius: 50px 20px 20px 20px;
    -ms-border-radius: 50px 20px 20px 20px;
    -o-border-radius: 50px 20px 20px 20px;
}

section.createContract .card p {
    font-size: 18px;
    color: #383838;
}

section.createContract .card span {
    color: var(--green-op);
}

section.createContract .card .total {
    position: relative;
}

section.createContract .card .total p {
    background-color: var(--green-main);
    color: var(--white);
    font-size: 15px !important;
    width: fit-content;
    padding: 5px 20px;
    position: absolute;
    left: -3px;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    -ms-border-radius: 0 10px 10px 0;
    -o-border-radius: 0 10px 10px 0;
}

section.createContract .card .totalEn {
    position: relative;
}

section.createContract .card .totalEn p {
    background-color: var(--green-main);
    color: var(--white);
    font-size: 15px !important;
    width: fit-content;
    padding: 5px 20px;
    position: absolute;
    right: -4px;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 10px 0px 0px 10px;
    -webkit-border-radius: 10px 0px 0px 10px;
    -moz-border-radius: 10px 0px 0px 10px;
    -ms-border-radius: 10px 0px 0px 10px;
    -o-border-radius: 10px 0px 0px 10px;
}

@media screen and (max-width:450px) {
    section.createContract .card p {
        font-size: 14px;
    }

    section.createContract .card span {
        display: block;
        line-height: 2px;
    }
}

/* end createContract page */
/* 6 Instrument data */
main.InstrumentData {
    min-height: 100vh;
    background: linear-gradient(194.08deg, rgba(242, 242, 242, 0.56) -20.24%, rgba(242, 242, 242, 0.31) 100%);
}

main.InstrumentData header {
    background-color: var(--white);
}

section.InstrumentData .container .progress {
    height: 6px;
    background: linear-gradient(to right, #EFEFEF 80%, var(--green-op) 75%, var(--green-op) 100%);
}

html[dir="ltr"] section.InstrumentData .container .progress {
    height: 6px;
    background: linear-gradient(to left, #EFEFEF 80%, var(--green-op) 75%, var(--green-op) 100%);
}

section.InstrumentData .container .progressStep2 {
    height: 6px;
    background: linear-gradient(to right, #EFEFEF 60%, var(--green-op) 50%, var(--green-op) 100%);
}

html[dir="ltr"] section.InstrumentData .container .progressStep2 {
    height: 6px;
    background: linear-gradient(to right, #EFEFEF 60%, var(--green-op) 50%, var(--green-op) 100%);
}

section.InstrumentData .container .progressStep3 {
    height: 6px;
    background: linear-gradient(to right, #EFEFEF 40%, var(--green-op) 20%, var(--green-op) 100%);
}

html[dir="ltr"] section.InstrumentData .container .progressStep3 {
    height: 6px;
    background: linear-gradient(to left, #EFEFEF 40%, var(--green-op) 20%, var(--green-op) 100%);
}

section.InstrumentData .container .progressStep4 {
    height: 6px;
    background: linear-gradient(to right, #EFEFEF 0%, var(--green-op) 0%, var(--green-op) 100%);
}

html[dir="ltr"] section.InstrumentData .container .progressStep4 {
    height: 6px;
    background: linear-gradient(to left, #EFEFEF 0%, var(--green-op) 0%, var(--green-op) 100%);
}

section.InstrumentData .container .textProgress {
    font-size: 18px;
    color: var(--green-main);
    line-height: 4px;
}

section.InstrumentData .container .dataInst p {
    font-size: 20px;
    color: #CFCFCF;
}

section.InstrumentData .container .dataInst select {
    width: 100%;
    border: 1px solid #EFEFEF;
    color: #848484;
    font-size: 14px;
    box-shadow: 0 0 7px #EFEFEF;
    padding: 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

section.InstrumentData .container .dataInst input {
    /* width:100%; */
    margin-bottom: 1.5rem;
    border: 1px solid #EFEFEF;
    color: #848484;
    font-size: 14px;
    box-shadow: 0 0 7px #EFEFEF;
    padding: 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

section.InstrumentData .container .dataInst input:focus {
    border: 1px solid var(--green-op2);
}

section.InstrumentData .container .dataInst hr {
    background-color: #999494;
}

section.InstrumentData .container .dataInst .prevBtn,
section.InstrumentData .container .dataInst .nextBtn {
    width: fit-content;
    background-color: var(--green-op);
    padding: 10px 40px;
    color: var(--white);
    font-size: 14px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;

}

section.InstrumentData .container .dataInst .nextBtn {
    background-color: var(--green-main) !important;
}

section.InstrumentData .container .dataInst .prevBtn {
    display: flex;
    align-items: center;
}

section.InstrumentData .container .dataInst .prevBtn i,
section.InstrumentData .container .dataInst .nextBtn i {
    border: 2px solid var(--white);
    font-size: 8px;
    padding: 3px 4px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

section.InstrumentData .container .dataInst .prevBtn:hover i {
    transform: translateX(80%);
    -webkit-transform: translateX(80%);
    -moz-transform: translateX(80%);
    -ms-transform: translateX(80%);
    -o-transform: translateX(80%);
}

html[dir="ltr"] section.InstrumentData .container .dataInst .prevBtn:hover i {
    transform: translateX(-80%);
    -webkit-transform: translateX(-80%);
    -moz-transform: translateX(-80%);
    -ms-transform: translateX(-80%);
    -o-transform: translateX(-80%);
}

section.InstrumentData .container .dataInst .nextBtn:hover i {
    transform: translateX(-80%);
    -webkit-transform: translateX(-80%);
    -moz-transform: translateX(-80%);
    -ms-transform: translateX(-80%);
    -o-transform: translateX(-80%);
}

html[dir="ltr"] section.InstrumentData .container .dataInst .nextBtn:hover i {
    transform: translateX(80%);
    -webkit-transform: translateX(80%);
    -moz-transform: translateX(80%);
    -ms-transform: translateX(80%);
    -o-transform: translateX(80%);
}

@media screen and (max-width:370px) {

    section.InstrumentData .container .dataInst .prevBtn,
    section.InstrumentData .container .dataInst .nextBtn {
        padding: 6px 20px;
        font-size: 12px;
    }
}

/* page 7 */

section.InstrumentData .container .dataInst .input-group span.input-group-text {
    background-color: var(--green-op);
    color: var(--white);
    height: 43px;
    width: 43px;
    text-align: center;
}

section.InstrumentData .container .dataInst input[type="number"] {
    direction: rtl !important;
}

html[dir="ltr"] section.InstrumentData .container .dataInst input[type="number"] {
    direction: ltr !important;
}

section.InstrumentData .container .dataInst .input-group input[type="number"] {
    direction: rtl !important;
}

html[dir="ltr"] section.InstrumentData .container .dataInst .input-group input[type="number"] {
    direction: ltr !important;
}

/* -- 6 Instrument data -- */

/* -- 8  data -- */
section.InstrumentData .container .dataInst #uploadButton {
    width: 100% !important;
    padding: 10px;
    color: var(--secondary2);
    font-size: 12px;
    background-color: var(--white);
    border: 1px solid #EFEFEF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}

section.InstrumentData .container .dataInst #uploadButton i {
    font-size: 20px;
}

section.InstrumentData .container .dataInst .addPrice {
    font-size: 12px;
}

/* --  // 8  data  // -- */
/* --  10  data   -- */
section.InstrumentData .container .dataInst select.location {
    width: calc(100% - 43px);
}

section.InstrumentData .container .dataInst .imageFile span {
    font-size: 12px;
}

/* --  // 10  data  // -- */
/* --  11  data   -- */
section.InstrumentData .container .dataInst .inputOption {
    position: relative;
}

section.InstrumentData .container .dataInst .inputOption .optionChoose {
    position: absolute;
    left: 20px;
    top: 29%;
    font-size: 12px !important;
    color: var(--green-op) !important;
}

html[dir="ltr"] section.InstrumentData .container .dataInst .inputOption {
    position: relative;
}

html[dir="ltr"] section.InstrumentData .container .dataInst .inputOption .optionChoose {
    position: absolute;
    right: 20px !important;
    left: calc(93% - 20px);
    top: 29%;
    font-size: 12px !important;
    color: var(--green-op) !important;
}

/* --  // 11  data  // -- */
/* --   12  data  -- */
section.InstrumentData .container .dataInst .checkBoxs .checkBox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

section.InstrumentData .container .dataInst .checkBoxs .checkBox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

section.InstrumentData .container .dataInst .checkBoxs .checkBox {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: 1.2rem;
    user-select: none;
}

section.InstrumentData .container .dataInst .checkBoxs .checkBox label {
    color: #848484;
    font-size: 14px;
}

section.InstrumentData .container .dataInst .checkBoxs .checkBox label span {
    color: var(--green-main);
    font-weight: 600;
}

section.InstrumentData .container .dataInst .checkBoxs .checkBox .checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 1.3em;
    width: 1.3em;
    background-color: #eee;
    border-radius: 50%;
    transition: 300ms;
    border: 1px solid var(--green-main);
}

@media screen and (max-width:470px) {
    section.InstrumentData .container .dataInst .checkBoxs .checkBox .checkmark.first {
        height: 1.4em;
        width: 1.6em;
    }
}

@media screen and (max-width:350px) {
    section.InstrumentData .container .dataInst .checkBoxs .checkBox .checkmark.first {
        height: 1.4em;
        width: 1.9em;
    }
}

section.InstrumentData .container .dataInst .checkBoxs .checkBox input:checked~.checkmark {
    background-color: var(--green-main);
    border-radius: .5rem;
    animation: pulse 500ms ease-in-out;
}

section.InstrumentData .container .dataInst .checkBoxs .checkBox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

section.InstrumentData .container .dataInst .checkBoxs .checkBox input:checked~.checkmark:after {
    display: block;
}

section.InstrumentData .container .dataInst .checkBoxs .checkBox .checkmark:after {
    left: 0.45em;
    top: 0.25em;
    width: 0.25em;
    height: 0.5em;
    border: solid #fff;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 var(--green-op);
        rotate: 20deg;
    }

    50% {
        rotate: -20deg;
    }

    75% {
        box-shadow: 0 0 0 10px var(--green-op);
    }

    100% {
        box-shadow: 0 0 0 13px var(--green-op2);
        rotate: 0;
    }
}

/* --  // 12  data  // -- */
/* --   13  data   -- */
section.InstrumentData .container .dataInst button.verificationAccount {
    width: fit-content;
    background-color: var(--green-main);
    border: none;
    width: 100%;
    padding: 10px 40px;
    color: var(--white);
    font-size: 14px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

/* --  // 13  data  // -- */
/* --   14  data   -- */
section.InstrumentData .container .dataInst .headData p {
    font-size: 14px;
}

section.InstrumentData .container .dataInst .headData h6 {
    font-size: 14px;
    font-weight: 600;
}

section.InstrumentData .container .dataInst .Account_owner {
    border: 1px solid #EFEFEF;
    background-color: var(--white);
    padding: 13px;
    box-shadow: 0 0 3px #758499;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

section.InstrumentData .container .dataInst .Account_owner .title {
    font-size: 14px;
    color: #373737;
    margin-bottom: 20px;
}

section.InstrumentData .container .dataInst .Account_owner p {
    font-size: 12px;
}

section.InstrumentData .container .dataInst .Account_owner h6 {
    font-size: 12px;
    color: #636363;
}

section.InstrumentData .container .dataInst a.sendRequest,
section.InstrumentData .container .dataInst a.senddraft {
    font-size: 12px;
    padding: 6px 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    background-color: var(--green-op);
    color: var(--white);
}

section.InstrumentData .container .dataInst a.senddraft {
    background-color: var(--green-main) !important;
}

/* --  // 14  data  // -- */
/* --  15 data   -- */
section.rentContract h3 {
    font-size: 24px;
    color: #282828;
    margin-top: 40px;
    font-weight: 600;
}

section.rentContract .rentContract {
    padding: 20px 15px 10px 15px;
    box-shadow: 0 5px 20px #00000014;
    background-color: var(--white);
    border-radius: 11px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    -ms-border-radius: 11px;
    -o-border-radius: 11px;
}

section.rentContract .rentContract p {
    color: #3D3C42;
    font-size: 14px;
    font-weight: 600;
}

section.rentContract .rentContract .owner p,
section.rentContract .rentContract .tenant p {
    font-weight: 200 !important;
}

/* --  // 15  data  // -- */
/* --  16  data   -- */
section.fileContract .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

section.fileContract .title h3 {
    font-size: 24px;
    color: #282828;
    font-weight: 600;
}

section.fileContract .title button {
    color: var(--white);
    background-color: var(--green-main);
    height: fit-content !important;
    padding: 7px 15px;
    font-size: 12px;
    border: none;
    box-shadow: 0px 1px 2px 0px #1018280D;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

section.fileContract .contractPdf {
    padding: 0 10px;
    box-shadow: 0 5px 20px #00000014;
    background-color: var(--white);
    border-radius: 11px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    -ms-border-radius: 11px;
    -o-border-radius: 11px;
}

section.fileContract .contractPdf .col-12 {
    display: flex;
    align-items: center;
}

section.fileContract .contractPdf .col-12 p {
    padding-top: 15px;
    margin-right: 10px;
}

html[dir="ltr"] .fileContract .contractPdf .col-12 p {
    padding-top: 15px;
    margin-left: 10px;
}

section.fileContract .btns button {
    display: block;
    width: 100%;
    padding: 7px 0px;
    font-size: 14px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

section.fileContract .btns button:first-child {
    background-color: var(--green-main);
    color: var(--white);
    border: none;
}

section.fileContract .btns button:last-child {
    background-color: transparent;
    color: var(--green-main);
    border: 1px solid var(--green-main);
    margin-top: 1.5em;
}

/* --  // 15  data  // -- */

/* start rating */
.rating {
    width: 100% !important;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    font-size: 0;
}


.rating input[type="radio"] {
    display: none;
}

.rating label {
    font-size: 30px;
    color: rgba(187, 183, 183, 0.726);
    margin: 0 6px;
    cursor: pointer;
}

.rating label:before {
    content: "\2605";
}

.rating input[type="radio"]:checked~label:before {
    content: "\2606";
    color: #DFB23E;
}

.messageBox textarea {
    width: 100%;
    height: 174px;
    padding: 10px;
    border: 1px solid #EFEFEF;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.messageBox2 button {
    color: var(--white);
    background-color: var(--green-main);
    width: 100%;
    padding: 7px 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: none;
}

/* -- rating */
/* offcanvas sidebar */
.offcanvas .offcanvas-body ul {
    line-height: 30px;
    color: var(--secondary-link);
}

.offcanvas .offcanvas-body ul li {
    margin-bottom: 60px;
}

.offcanvas .offcanvas-body ul li a {
    position: relative;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.offcanvas .offcanvas-body ul li a:hover {
    color: var(--green-main);
}

.offcanvas .offcanvas-body ul li a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--green-main);
    position: absolute;
    bottom: -2px;
    right: 0;
    transition: width 0.3s ease;
}

.offcanvas .offcanvas-body ul li a.enLan::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--green-main);
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: width 0.3s ease;
}

html[dir="ltr"] .offcanvas .offcanvas-body ul li a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--green-main);
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: width 0.3s ease;
}

.offcanvas .offcanvas-body ul li a:hover::after {
    width: 40%;
}

.offcanvas .offcanvas-body ul li a.active::after {
    width: 40%;
}

html[dir="ltr"] .offcanvas .offcanvas-body ul li a:hover::after {
    width: 40%;
}

html[dir="ltr"] .offcanvas .offcanvas-body ul li a.active::after {
    width: 40%;
}

.offcanvas .offcanvas-body ul li.profile a {
    color: var(--white);
    background-color: var(--green-main);
    padding: 8px 15px;
    font-size: 10px;
    line-height: normal;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: none;
}

.offcanvas .offcanvas-body ul li.profile a:hover::after {
    content: "";
    display: none;
    width: 0;
}

/* modal Time of Contract */
.modalTimeContract .modal-content {
    border-radius: 16px !important;
    -webkit-border-radius: 16px !important;
    -moz-border-radius: 16px !important;
    -ms-border-radius: 16px !important;
    -o-border-radius: 16px !important;
}

.modalTimeContract .modal-header {
    border-bottom: none !important;
}

.modalTimeContract .modal-title {
    font-size: 16px;
    display: flex;
    align-items: center;
}

.modalTimeContract .modal-title i {
    color: var(--white);
    background-color: #F15728;
    font-size: 18px;
    padding: 10px 17px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-left: 15px;
}

html[dir="ltr"] .modalTimeContract .modal-title i {
    margin-right: 15px;
}

.modalTimeContract .modal-body p {
    font-size: 12px;
    text-align: justify;
    color: #565656 !important;
    margin-bottom: 25px;
}

.modalTimeContract .modal-body p span {
    color: #0008CE !important;
    font-weight: 600;
}

.modalTimeContract .modal-body p.note {
    color: #CE0000 !important;
    font-weight: 600;

}

/* modal modalSendDraft */
.modalSendDraft .modal-content {
    border-radius: 16px !important;
    -webkit-border-radius: 16px !important;
    -moz-border-radius: 16px !important;
    -ms-border-radius: 16px !important;
    -o-border-radius: 16px !important;
    text-align: center;
}

.modalSendDraft .modal-content i {
    color: var(--white);
    background-color: #F15728;
    font-size: 18px;
    padding: 10px 18px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-bottom: 15px;
}

.modalSendDraft .modal-content h6 {
    font-weight: 600;
}

.modalSendDraft .modal-content p {
    font-size: 16px;
    color: #565656;
}

.modalSendDraft .modal-content .btns button {
    color: var(--white);
    background-color: var(--green-main);
    width: 45%;
    font-size: 14px;
    border: none;
    padding: 5px 20px;
    border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -o-border-radius: 10px !important;
}

.modalSendDraft .modal-content .btns button:last-child {
    background-color: red !important;
    margin-right: 10px;
}

html[dir="ltr"] .modalSendDraft .modal-content .btns button:last-child {
    margin-left: 10px;
}

/* scroll website */
body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: var(--green-main);
}

body::-webkit-scrollbar-thumb {
    background: var(--green-op);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}